
.todo-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,20rem));
    justify-content: center;
    align-content: center;
    gap: 1rem;
    width: 100%;
}
.todo-item-list{
    background-color: rgb(0, 25, 32);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-light);
    color: var(--color-dark-green);
}
.todo-item-list:hover{
    box-shadow: 0 0 10px 5px #888
}
.todo-item-list ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 0;

}
.todo-item-list h4{
    text-align: right;
}

.todo-item-list li{
    text-align: left;
    display: grid;
    grid-template-columns: 7rem auto;
    gap: 1rem;
    align-items: initial;
    
}

.todo-item__actions{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: flex-end;
    padding-top: 1rem;
}