.modal-form{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
    z-index: 1;
}