
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body{
  background-image: url('https://img.freepik.com/premium-photo/grass-background-golf-courses-green-lawn_38679-1069.jpg?w=2000e');
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;

}

.floating-action {
  box-shadow: 0 0 10px red;
}